<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RockPaperScissors</title>
    <link rel="stylesheet" href="../content/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body class ="body1">
    <h1>Let's Play!</h1>
    <br>
    <h1>P1 check one box</h1>
    <form class="" action="/result">

    <div id="p1radio">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadiosP1" value="100">
          Rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadiosP1" value="10" >
          Paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadiosP1" value="1" >
          Scissors
        </label>
      </div>
    </div>


    <h1>P2 check one box</h1>
    <div  id="p2radio">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadiosP2" value="100">
          Rock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadiosP2" value="10" >
          Paper
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadiosP2" value="1" >
          Scissors
        </label>
      </div>
    </div>
    <br><button type="submit" name="button">GO</button>
  </form>
  </body>
</html>
