<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../content/styles.css">
    <meta charset="utf-8">
    <title> </title>
  </head>
  <body class="body2">

  @Model must be M (not m) or it'll break -->
  <!-- <a href="/">home</a>
  </body>
</html> -->
