<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../content/styles.css">
    <meta charset="utf-8">
    <title>Result</title>
  </head>
  <body class="body2">
  <h1>this game resulted in...</h1>
  <h1>@Model.GetResult()</h1>
  <!-- @Model must be M (not m) or it'll break -->
  <a href="/">home</a>
  </body>
</html>
