<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../content/styles.css">
    <meta charset="utf-8">
    <title>Result </title>
  </head>
  <body class="body2">
    <div class="container">
      <h1>Here is your Word:</h1>
      <h1 class="found">@Model.GetUserWord()</h1>
      <h1>Here is the comparing sentence: </h1>
      <h1 class="sentence">@Model.GetCompareString()</h1>
      <img src="../content/img/result-magnifying.jpg" alt="magnifying result" />
      <h2>...Tada...</h2>
      <h1><span class ="found">@Model.GetUserWord()</span> is found
        <strong class="CountRepeats">@Model.CountRepeats()</strong> times in your sentence.</h1>
      <a class="playagain" href="/">Let's play again!</a>
    </div>
  </body>
</html>
