.body1 {
  background-color: limegreen;
}
.body2 {
  background-image: url("http://www.planwallpaper.com/static/images/518169-backgrounds.jpg");
}
/*only jpg and img work? png doesnt work sometimes maybe?*/
#p1radio {
  color: blue;
}
